.footer {
    width: 100vw;
    height: 240px;
    background-color: #2b2b2b;
}

.footer-content {
    width: 84%;
    height: 100%;
    position: relative;
    left: 15%;
}

.footer-content ul li {
    list-style: none;
}